.collection-item-container {
  @extend .col;
  @extend .col-md-2;
  @extend .col-sm-6;
  @extend .col-6;
  padding: 0.2rem;
  .collection-item {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    transition: all 0.2s;
    min-height: 100px;
    text-align: center;
    line-height: 1rem;
    width: 100%;
    padding: 0.2rem;
    display: block;
    @extend .border;
    i {
      display: block;
      width: 100%;
      padding: 0.5rem;
      height: 50%;
      &:before {
        line-height: 36px;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: $secondary-color;
      color: $background-color;
      i {
        color: $background-color;
      }
    }
    i {
      color: $secondary-color;
    }
  }
}