.statistics-count-item-container {
  padding: 1rem;
  @extend .col;
  @extend .col-sm-4;
  @extend .col-12;
  .statistics-count-item {
    @extend .square;
    .statistics-count-number {
      cursor: default;
      color: $secondary-color;
      font-family: $primary-font;
      font-size: 6rem;
      line-height: 6rem;
      border-radius: 4px;
      &.appear {
        animation: appear 0.5s ease-out;
      }
    }
    .statistics-label {
      cursor: default;
      color: $text2-color;
    }
    &.clickable {
      .statistics-label, .statistics-count-number {
        cursor: pointer;
      }

      &:hover {
        .statistics-label {
          text-decoration: underline;
          color: $text3-color;
        }
      }
    }
  }
}