app-item, .app-item {
  .item {
    @extend .collection-item;
    height: auto;
    padding-bottom: 0.5rem;
    .add-item {
      position: absolute;
      top: 25%;
      width: 100%;
      display: inline-block;
      left: 0;
    }
  }
  .item-image {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-size: cover;
    margin-bottom: 0.5rem;
    &.cbook {
      padding-top: 155%;
    }
    &.record, &.bgame {
      padding-top: 100%;
    }
  }
}