app-item, .app-item {
  .item {
    @extend .square;
    padding: 0;
    height: auto;
    padding-bottom: 0.5rem;
    .add-item {
      position: absolute;
      top: 25%;
      width: 100%;
      display: inline-block;
      left: 0;
    }
    .item-content {
      text-align: left;      
      height: 100%;
      background-color: $background-color;
      label {
        margin-bottom: 0;
        font-size: 0.8rem;
      }
      .item-lbl-text {
        color: $text2-color;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
      }
      h4 {
        font-size: 1.2rem;
        padding: 0.5rem;
        text-align: center;
        background-color: $primary-color;
        color: $background-color;
        box-shadow: rgba(0,0,0,0.2) 0px 1px 1px;
      }
      .item-content-inner {
        padding: 0.5rem;
      }
    }
    .item-btn-area {
      text-align: center;
      width: 100%;
      padding: 0 0.5rem;
      .btn {
        padding: 0.3rem;
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 0.9rem;
      }
    }
    .card-bottom {
      height: 32px;
    }
  }
  .item-scene {
    width: 100%;
    height: 100%;
    perspective: 600px;
    .item-card {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      transition: transform 1s;
      transform-style: preserve-3d;
      .item-card-face {
        position: relative;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        &.item-face-a {
          z-index: 2;
          background-color: white;
        }
        &.item-face-b {
          position: absolute;
          top: 0;
          //transform: rotateY( 180deg );
          .item-image {
            opacity: 0.3;
            transform: rotateY( 180deg );
          }          
        }
      }
      &.flipped {
        transform: rotateY(180deg);
      }
    }
  }
  .item-image {
    background-size: cover;
    margin-bottom: 0.5rem;
    transition: all 0.2s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &.translated {
      transition: all 0.4s;
      transform: translateY(-90%);
    }
    &.cbook {
      padding-top: 155%;
    }
    &.record, &.bgame {
      padding-top: 100%;
    }
    &:hover:not(.translated) {
      transform: translateY(-3%) scale(1.01);
    }
  }
  .small-label {
    font-size: 0.7rem;
    height: 0.7rem;
  }
  .item-title {
    font-family: $third-font;
    font-size: 0.85rem;
    color: $text3-color;
    font-weight: bold;
  }
}

app-item-form {
  .thumb {
    max-width: 100px;
    max-height: 100px;
  }
}