app-item, .app-item {
  .item {
    @extend .square;
    padding: 0;
    height: auto;
    padding-bottom: 0.5rem;
    .add-item {
      position: absolute;
      top: 25%;
      width: 100%;
      display: inline-block;
      left: 0;
    }
  }
  .item-image {
    background-size: cover;
    margin-bottom: 0.5rem;
    &.cbook {
      padding-top: 155%;
    }
    &.record, &.bgame {
      padding-top: 100%;
    }
  }
}

app-item-form {
  .thumb {
    max-width: 100px;
    max-height: 100px;
  }
}