body {
  font-family: $primary-font;
}

.btn {
  position: relative;
  transition: all 0.5s;
  font-family: $secondary-font2;
  overflow: hidden;
  @extend .shine;

  &.btn-link {
    color: $secondary-color;
    font-weight: 500;
  }

  &.btn-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}
