$primary-color: #2498B2;
$secondary-color: #BF3A6D;
$text-color: #2E374C;
$text2-color: #7B7F7B;
$background-color: #FBFBFB;
$orange: #E54317;
$lightgrey: #EFEFEF;
$border-color: #dee2e6;

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Yrsa', serif;
$secondary-font2: 'Slabo 13px', serif;
$fun-font: 'Amatic SC', cursive;
$logo-font: 'Love Ya Like A Sister', cursive;