$primary-color: #2498B2;
$secondary-color: #BF3A6D;
$text-color: #7B7F7B;
$background-color: #FBFEFD;
$orange: #E54317;
$lightgrey: #EFEFEF;

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Yrsa', serif;
$secondary-font2: 'Slabo 13px', serif;
$fun-font: 'Amatic SC', cursive;
$logo-font: 'Love Ya Like A Sister', cursive;