<router-outlet>
  <h1>Collections</h1>

  <div class="row" *ngIf="!addingCollection">
    <div class="form-group col">
      <div class="input-group mb-1">
        <div class="search-input" [ngClass]="{active: isInputActive()}">
          <i class="fas fa-search" [ngClass]="{active: isInputActive()}"></i>
          <span class="search-text">
            | {{ total }} collection<span *ngIf="total > 1">s</span>
          </span>
          <input type="text" [ngClass]="{active: isInputActive()}" 
              (focus)="searchActive = true" (blur)="searchActive = false"
              [(ngModel)]="searchParam" 
              placeholder="Search in your collections..."
              (keyup)="filterCollections($event)">
        </div>        
        <button class="btn-add-new">
          <i class="fas fa-plus"></i>
          <span class="ml-1" (click)="toggleForm()">Add new</span>
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="addingCollection">
    <h3 class="mt-3">New collection</h3>
    <app-coll-form (cancel)="cancel($event)"></app-coll-form>
  </ng-container>

  <div class="row" *ngIf="!addingCollection">
    <div class="collection-item-container" *ngFor="let collection of filteredCollections">
      <div class="collection-item" routerLink="{{ collection._id }}">
        <i title="{{ collection.type.description }}" class="fas {{ collection.type.icon }} mr-1"></i>
        {{ collection.name }}
      </div>
    </div>
  </div>
</router-outlet>