<div class="row">
  <div class="col-md-6">
    <form [formGroup]="itemForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="number">Number</label>
        <input type="number" class="form-control" formControlName="number">
      </div>
      <div class="form-group">
        <label for="publisher">Publisher</label>
        <input type="text" class="form-control" formControlName="publisher">
      </div>
      <div class="form-group">
        <label for="format">Format</label>
        <input type="text" class="form-control" formControlName="format">
      </div>
      <div class="form-group">
        <label for="picture">Picture</label>
        <input type="file" (change)="fileChange($event)" accept="image/*" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary mr-2">Save</button>
      <button type="button" class="btn btn-secondary" (click)="formCancel()">Cancel</button>
    </form>
  </div>
</div>
