<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div class="form-group" [hidden]="!form.title">
    <label for="name">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group" [hidden]="!form.number">
    <label for="number">Number</label>
    <input type="number" class="form-control" formControlName="number">
  </div>
  <div class="form-group" [hidden]="!form.artist">
    <label for="publisher">Artist</label>
    <input type="text" class="form-control" formControlName="artist">
  </div>
  <div class="form-group" [hidden]="!form.publisher">
    <label for="publisher">Publisher</label>
    <input type="text" class="form-control" formControlName="publisher">
  </div>
  <div class="form-group" [hidden]="!form.format">
    <label for="format">Format</label>
    <input type="text" class="form-control" formControlName="format">
  </div>
  <div class="form-group">
    <label for="picture">Picture</label>
    <div>
      <img [src]="image" class="thumb" *ngIf="image" />
    </div>
    <input type="file" (change)="fileChange($event)" accept="image/*" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mr-2">Save</button>
  <button type="button" class="btn btn-secondary" (click)="formCancel()">Cancel</button>
</form>