<header class="contianer">
  <div class="row">
    <div class="col">
      <ul class="nav animated-nav">
        <li class="logo" routerLink="/">
          Sf
        </li>
        <li class="spacer">|</li>
        <li class="nav-item" routerLink="/dashboard" routerLinkActive="active">
          <i class="fas fa-chart-line"></i>
          <span class="show-active ml-1">Dashboard</span>
        </li>
        <li class="nav-item" routerLink="/collections" routerLinkActive="active">
          <i class="fas fa-columns"></i>
          <span class="show-active ml-1">Collections</span>
        </li>
      </ul>
    </div>
    <ul class="nav flex-row ml-md-auto d-md-flex">
      <ng-container *ngIf="!authorized">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Register</a>
        </li>
      </ng-container>
      <ng-container *ngIf="authorized">
        <li class="nav-item">
          <span class="nav-link" href="#" (click)="logout()">Logout</span>
        </li>
      </ng-container>
    </ul>
  </div>
</header>
<nav class="subheader">

</nav>