<h1>{{ collection.name }} collection</h1>

<ng-container *ngIf="addingItem">
  <app-item-form [collection]="collection._id" 
                 [type]="collection.type._id" 
                 (cancel)="cancel($event)">
  </app-item-form>
</ng-container>
<ng-container *ngIf="!addingItem">
  <div class="container">
    <div class="row">

      <div class="collection-item-container" (click)="addingItem = !addingItem">
        <div class="app-item">
          <div class="item">
            <div [ngClass]="'item-image ' + collection.type.name"></div>
            <div class="add-item">
              <i class="fas fa-plus"></i>
              Add new
            </div>
            &nbsp;
          </div>
        </div>
      </div>

      <div *ngFor="let item of items" class="collection-item-container">
        <app-item [item]="item"></app-item>
      </div>
    </div>
  </div>
</ng-container>
