<h1>{{ collection.name }} collection</h1>

<ng-container *ngIf="addingItem">
  <app-item-form [collection]="collection._id" 
                 [type]="collection.type._id" 
                 (cancel)="cancel($event)">
  </app-item-form>
</ng-container>
<ng-container *ngIf="!addingItem">
  <a (click)="addingItem = !addingItem">Add new</a>
  
  <div class="container">
    <div class="row">
      <div *ngFor="let item of items" class="collection-item-container">
        <app-item [item]="item"></app-item>
      </div>
    </div>
  </div>
</ng-container>
