<h1>{{ collection.name }} collection</h1>

<ng-container *ngIf="addingItem">
  <app-item-form [collection]="collection._id" 
                 [type]="collection.type._id" 
                 (cancel)="cancel($event)">
  </app-item-form>
</ng-container>
<ng-container *ngIf="!addingItem">
  <div class="container">
    <div class="row">
      <app-search-bar [name]="'item'" [placeholder]="'Search in ' + collection.name + '...'" [total]="items.length" 
      (addNew)="toggleForm()" (onKeyUp)="filterItems($event)"></app-search-bar>
    </div>

    <div class="row">
      <div *ngFor="let item of filteredItems" class="collection-item-container">
        <app-item [item]="item"></app-item>
      </div>
    </div>
  </div>
</ng-container>
